body {
  font-family: Helvetica;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p.main {
  font-size: 14px;
}

.banner {
  background-image: url(../images/the-flatiron-building.png);
  color: White;
}

.footer {
  text-align: left;
  color: white;
  background-color: dimgray;
  font-size: 11px;
}

.nav-button {
  font-size: 18px;
}
